
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}
header, footer {
    background-color: #003366;
    color: white;
    padding: 1em 0;
}
main {
    padding: 2em;
}
